/* styles/globals.css */

@import './base/_reset.css';
@import './base/_fonts.css';
@import './base/_colors.css';
@import './base/_typography.css';

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  box-sizing: border-box;
  background-color: var(--bg-B1);
  color: var(--text-T2);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

*, *::before, *::after {
  box-sizing: inherit; /* Ensure all elements use border-box */
}


